.cart {
	width: 100vw;
	height: 80vh;
}

.cart__title-center {
	text-align: center;
	margin-top: 2rem;
}

#cart__empty {
	text-align: center;
	margin: 0 auto;
	margin-top: 2rem;
}

.cart_btn {
	display: flex;
	flex-direction: column;

	gap: 0.5rem;
}

.cart__screen {
	display: flex;

	gap: 1rem;
}

.cart_items {
	flex: 2;
	padding: 1rem 0;
}

.cartScreen__right {
	flex: 1;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	width: 80px;
	height: fit-content;
	margin-right: 40px;
	margin-top: 50px;
}

.cartScreen__right div {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.cartScreen__info p {
	padding: 8px;
}

.cartScreen__info p {
	font-weight: bold;
}

.cartScreen__right div:last-child {
	border: none;
}

.cartScreen__right div button {
	padding: 10px 17px;
	width: 100%;
	background: var(--first-color);
	color: var(--button-color-alt);
	border: 1px solid --border-color;
	cursor: pointer;
}

.cartScreen__right div button:hover {
	opacity: 0.9;
}
